
body{
	margin: 0;
	overflow-x:hidden;
	padding: 0;
}

/*背景*/
#big {
	position: relative;
	height: 1037px;
	width: 1920px;
	margin:auto;
	background-image: url(../messages/background-1.jpg);
}

/*logo*/
.logo {
	position: absolute;
	left: 457px;
	top: 39px;
}

/*礼包时间*/
.time {
	position: absolute;
	left: 457px;
	top: 293px;
	padding: 5px;
	width: 452px;
	text-align: center;
	background-image: url(../messages/time-background.png);
	background-repeat: no-repeat;
	color: #d7cda9;
	font-family: 微软雅黑 Regular;
	font-size: 18px;
}

/*兑换码*/
.dh {
	position: absolute;
	left: 457px;
	top: 363px;
	width: 773px;
	height: 481px;
}

.dh p {
	color: #8c734c;
	font-size: 20px;
	margin-left: 40px;
	margin-top: 24px;
	font-weight: bold;
}

.dh input {
	width: 417px;
	height: 58px;
	border:1px solid #c0d6dc;
	background-color:#fcfdfd;
	line-height: 58px;
	padding-left: 20px;
	margin-left: 40px;
	font-size: 25.87px;
	font-family: 微软雅黑 Bold;
	font-weight: bold;
	color: #4c403a;
}

.dh button {
	display: block;
	height: 50px;
	width: 168px;
	margin-top: 22px;
	margin-left: 182px;
	background-color: #4f9fb5;
	border: none;
	color: #ffffff;
	font-size: 28px;
	font-family: 微软雅黑 Bold;
	font-weight: bold;
}

.tk-background {
	position: relative;
	height: 1037px;
	width: 1920px;
	margin:auto;
	background-color: black;
	background-color:rgba(0,0,0,0.4);
	filter:alpha(opacity=40);
	display: none;
}

/*弹框*/
.tk {
	position: absolute;
	left: 699px;
	top: 264px;
	background-image: url(../messages/tk-background.png); 
	background-repeat: no-repeat;
	height: 449px;
	width: 562px;
	z-index: 100;
}

.tk span {
	display: inline-block;
	height: 19px;
	font-size: 18px;
	font-family: 微软雅黑 Bold;
	font-weight: bold;
	color: #938b69;
	margin-left: 62px;
	margin-bottom: 12px;
}

.tk .p-one {
	margin-top: 36px;
}

.tk .p-two {
	margin-top: 28px;
}

.tk input {
	margin-left: 62px;
	border: 1px solid #93b2b1;
	height: 48px;
	width: 375px;
}

.tk button {
	display: block;
	height: 50px;
	width: 168px;
	margin-top: 28px;
	margin-left: 158px;
	background-color: #4f9fb5;
	border: none;
	color: #ffffff;
	font-size: 28px;
	font-family: 微软雅黑 Bold;
	font-weight: bold;
}

.exit {
	position: absolute;
	left: 510px;
	top: 0;
}
