@charset "utf-8";
/***************[Reset Css]**************/
body, h1, h2, h3, h4,h5,h6,p,form {margin: 0;}
ol,ul {margin: 0;padding: 0;list-style: none;}
body,button, input, select, textarea { font: 14px/1 'Microsoft YaHei', Helvetica, Arial, "\5b8b\4f53", sans-serif; }
body {overflow-x: hidden;}
h1 {font-size: 26px;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}
hr { border: 0; height: 1px;}
table { border-collapse: collapse; border-spacing: 0;}
img { border: 0;vertical-align: top;}
input,select,textarea,button { border-radius: 0;outline: none;border: 0;}
a { text-decoration: none;}
/***************[Layout Css]**************/
.left { float: left;}
.right { float: right;}
.relative { position: relative;}
.absolute { position: absolute;}
.fixed { position: fixed;}
.hide { display:none;}
.show { display: block;}
/***************[Demo Css]**************/
body {background: #fff;min-width: 1000px;}
.wrapper {position: relative;}
.content {position: relative;width: 1000px;margin: 0 auto;z-index: 20;height: 950px;}
.bg {position: absolute;left: 0;top: 0;width: 100%;z-index: 10;}
.bg>div {background-repeat: no-repeat !important; background-position: center top !important;}
.bg1 {height: 352px;background: url(../images/bg/bg_01.jpg);}
.bg2 {height: 341px;background: url(../images/bg/bg_02.jpg);}
.bg3 {height: 257px;background: url(../images/bg/bg_03.jpg);}
.logo {position: absolute;top: 36px;left: 6px;}
.act-date {position: absolute;top: 296px;left: 51px;font-size: 18px;color: #a48411;}
.form-desc {position: absolute;left: 42px;top: 394px;width: 444px;}
.form-desc h4 {color: #957a4e;}
.exc-code {width: 419px;height: 60px;line-height:60px;border: 1px solid #82b9c5;box-sizing:border-box;background-color: #ffffff;font-weight: bold;font-size: 26px;color: #333333;margin-top: 14px;/*text-indent: 18px;*/padding-left: 18px;}
.sure {width: 169px;height: 51px;background-image: url(../images/sprite.png);margin: 26px auto 18px auto;display: block;padding: 0;cursor: pointer;}
.sure:hover {background-position: 0 -52px;}
.desc {color: #7b6d49;font-size: 14px;line-height: 28px;}
.footer {width: 100%;margin-top: 16px;z-index: 10;position: relative;margin-bottom: 10px;height: 60px;}
.footer .contain {width: 780px;margin: 0 auto;}
.footer .logo-bottom {width: 156px;height: 49px;background: url(../images/icon.png);float: left;}
.footer .desc-bottom {font-size: 12px;color: #666666;float: right;line-height: 20px;margin-top: -6px;}
.mask {position: fixed;left: 0;right: 0;top:0;bottom: 0;background: rgba(0,0,0,0.4);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);z-index: 500;display: none;}
.popup {position: fixed;left: 50%;top: 50%;width: 500px;height: 450px;margin: -225px 0 0 -250px;box-sizing:border-box;border: 3px solid #115d5a;background:rgba(215,231,240,0.9);z-index: 600;display: none;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6d7e7f0,endColorstr=#E6d7e7f0);}
.submit-area {width: 338px;margin: 33px auto 0 auto;}
.input-area {margin-bottom: 30px;}
.input-area h5 {color: #938b69;}
.input-area input {width: 100%;box-sizing:border-box;border: 1px solid #93b2b1;background-color: #ffffff;height: 50px;line-height:50px;/*text-indent: 18px;*/padding-left:18px;color: #333333;font-size: 26px;font-weight: bold;margin-top: 10px;}
.close {background: url(../images/close.png);position: absolute;right: -72px;top: -3px;width: 56px;height: 56px;display: block;}


